@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');
@tailwind utilities;

@theme {
    --color-primary: #0a1741;
    --color-secondary: #313e47;
    --color-accent1: #c6d8af;
    --color-accent2: #94849b;
    --color-accent3: #daa89b;
    --font-en: "Inter", sans-serif;
    --font-ar: "Cairo", sans-serif;
}


body[dir="ltr"] { font-family: var(--font-en); }
body[dir="rtl"] { font-family: var(--font-ar); }



.plus-jakarta-sans{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
    font-family: 'Vazir', sans-serif;
    /*direction: rtl;*/
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background: #c6d8af;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94849b;
}